doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Incrementa el potencial de tus resultados
    link(href='https://fonts.googleapis.com/css?family=Handlee', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='styles.css')
  body
    #app
    script(src='https://unpkg.com/vuetify/dist/vuetify.min.js')
    script(src='build.js')
